/* Header Start */

/* Hero-Base Start */

.Hero-Base-About {
	margin-top: 4rem;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 4rem;
}

.Text_S-Semibold {
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: -0.10000000149011612px;
	color: #fff;
}

.Blue {
	color: #437ef7;
}

.Paragraph-container-About {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	gap: 2rem;
	margin-bottom: 5rem;
}

/* Hero-Base End */

/* Header End */

/* Section01 Start */

.Messaging-for-all {
	width: 100%;
	margin: 4rem 0;
	gap: 4rem;
}

.Headline_S-Mobile-Bold {
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
	letter-spacing: -0.02em;
}

.Just-desktop {
	display: none;
}

.Messaging-for-all-cards {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.Messaging-for-all-card,
.Messaging-for-all-card_Learn-more {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.Messaging-for-all-card img,
.Messaging-for-all-card_Learn-more img {
	height: 48px;
	width: 48px;
}

.Messaging-for-all-card-text {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	gap: 1rem;
}

.Headline_XS-Mobile-Semibold {
	font-size: 20px;
	font-weight: 600;
	line-height: 28px;
	letter-spacing: -0.02em;
	text-align: left;
}

.Text_L-Regular {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: -0.10000000149011612px;
}

.Gray {
	color: #5f6d7e;
}

.Button_Semibold-Large {
	display: inline-flex;
	align-items: center;
	gap: 6px;

	font-size: 15px;
	font-weight: 600;
	line-height: 22px;
	letter-spacing: 0px;
	text-align: left;
}

.Button_Semibold-Large img {
	height: 20px;
	width: 20px;
}

/* Section01 End */

/*CheckUs*/

.checkUs {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
}

.checkUs > img {
	max-width: -webkit-fill-available;
}

.checkUsTextSmall {
	display: flex;
	align-items: center;
	padding: 5px 0;
	gap: 10px;
}

.checkUsTextSmall img {
	width: 15px;
}

.faq {
	padding: 40px 16px;
}

.faqHeader {
	padding-bottom: 32px;
}
.faqHeader h3 {
	padding-bottom: 12px;
}
/*CheckUs End*/

/*Team Cards*/

.team-card {
	margin-block: 20px;
	border-radius: 10px;
	overflow: hidden;
}

.team-card-header {
	padding-inline: 10px;
}

.team-card-header > img {
	max-width: 100%;
	zoom: 110%;
	margin: 10px auto;
}

.team-card-header h5 {
	padding-block: 5px;
}

.team-card .team-card-social {
	display: flex;
	gap: 16px;
	padding-inline: 10px;
}
/*Team Cards End*/

/*FAQ*/

.faq {
	display: grid;
}

.faq h3 {
	font-size: 18px;
	line-height: 28px;
	font-weight: 500;
}

.faq p {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
}

.faq-cell {
	border: 1px solid rgba(234, 235, 240, 1);

	padding: 20px;
}

.faq-cell.faq-cell-new {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/*FAQ End*/

/*Blue Bottom*/

.a_container a[data-btn-white='logos-btn-white'] {
	background-color: #fff;
	color: rgba(67, 126, 247, 1);
	font-size: 15px;
	font-weight: 600;
	display: block;
}

.a_container a[data-btn-blue='logos-btn-blue'] {
	background-color: rgba(67, 126, 247, 1);
	color: #fff;
	font-size: 15px;
	font-weight: 600;
	display: block;
}

.logos {
	display: flex;
	flex-direction: column;
	gap: 40px;
	align-items: center;
	padding: 10px 0 40px;
	margin-bottom: 40px;
}

.logos img {
	width: 100px;
}

/*Blue Bottom End*/

@media (min-width: 704px) {
	/* TABLET AREA  */

	/* Header Start */

	/* Hero-Base Start */

	.Hero-Base-About {
		margin-top: 6rem;
		gap: 0rem;
	}

	.Text_S-Semibold {
		font-size: 14px;
		font-weight: 600;
		line-height: 20px;
		letter-spacing: -0.10000000149011612px;
		text-align: left;
	}

	.Paragraph-container-About {
		width: 672px;
		gap: 3rem;
		margin-bottom: 11rem;
	}

	/* Hero-Base End */

	/* Header End */

	/* Section01 Start */

	.Messaging-for-all {
		margin: 5rem 0;
		align-items: center;
	}

	.Headline_S-Mobile-Bold {
		display: none;
	}

	.Headline_M-Desktop-Bold {
		display: block;
		font-size: 32px;
		font-weight: 700;
		line-height: 40px;
		letter-spacing: -0.02em;
		text-align: center;
	}

	.Messaging-for-all-cards {
		gap: 6rem;
		margin-bottom: 5rem;
	}

	.Messaging-for-all-card,
	.Messaging-for-all-card_Learn-more {
		height: 182px;
		width: 336px;
		gap: 20px;
	}

	.Messaging-for-all-card-text {
		gap: 2rem;
	}

	/* Section01 End */

	.team-cards {
		display: flex;
		gap: 30px;
		justify-content: left;
		align-items: center;
		flex-wrap: wrap;
	}

	.team-card {
		margin-block: 50px;
		border-radius: 10px;
		max-width: 45%;
		overflow: hidden;
	}

	.team-card-header {
		padding-inline: 10px;
	}

	.team-card-header > img {
		max-width: 100%;
		zoom: 110%;
		margin: 10px auto;
	}

	.team-card-header h5 {
		padding-block: 5px;
	}

	.team-card .team-card-social {
		display: flex;
		gap: 16px;
		padding-inline: 10px;
	}

	.a_container a[data-btn-white='logos-btn-white'] {
		background-color: rgba(67, 126, 247, 1);
		color: #fff;
		font-size: 15px;
		font-weight: 600;
		display: inline-block;
		margin-right: 20px;
		padding: 10px 40px;
	}

	.a_container a[data-btn-blue='logos-btn-blue'] {
		background-color: #fff;
		color: rgba(67, 126, 247, 1);
		font-size: 15px;
		font-weight: 600;
		display: inline-block;
		margin-left: 20px;
		padding: 10px 40px;
	}

	.logos {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 80px;
		align-items: center;
		justify-content: center;
		padding: 10px 0 40px;
		margin-bottom: 40px;
	}

	.logos img {
		width: 100px;
	}
}

@media (min-width: 1215px) {
	/* DESKTOP AREA */

	.container {
		margin: 0 112.03px;
	}

	/* Header Start */

	/* Hero-Base Start */

	.Hero-Base-About {
		margin-top: 10rem;
		gap: 2rem;
	}

	.Paragraph-container-About {
		width: 640px;
		margin-bottom: 94px;
	}

	/* Hero-Base End */

	/* Header End */

	/* Section01 Start */

	.Messaging-for-all {
		margin: 5rem 0;
		align-items: center;
		gap: 8rem;
	}

	.Messaging-for-all-header {
		display: block;
		text-align: center;
	}

	.Just-desktop {
		display: block;
	}

	.Messaging-for-all-cards {
		gap: 4rem;
		margin-bottom: 8rem;
		justify-content: flex-end;
	}

	.Messaging-for-all-card {
		gap: 20px;
	}

	.Messaging-for-all-card_Learn-more {
		display: none;
	}

	.team-cards {
		justify-content: center;
	}

	/* Section01 End */
}
