/* Header Font */

.Headline_xL-Mobile-Semibold {
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.02em;
    text-align: center;
}

.Headline_gray{
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.10000000149011612px;
    text-align: center;
    color: #5F6D7E;
}


/* Button */

button {
    font-size: 15px;
    font-weight: 600;

    border-radius: 6px;
    padding: 12px 18px 12px 18px;
    box-shadow: 0px 1px 2px 0px #1018280A;
}

.Mobil-long-button {
    width: 100%;
}

.Blue-b {
    border: none;
    background: #437EF7;
    color: #FFFFFF;
}

.White-b {
    border: 1px solid #DAE0E6
}