/* gap 8'in katları, gap değerlerini rem ile ayarlama yapıyorum*/
html {
	font-size: 8px;
	font-family: 'Inter', sans-serif;
}

/* MOBILE AREA */
.container {
	margin: 0 16.02px;
}

/* Header Start */

/* Nav Start */

header {
	background: #f8f9fb;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

nav {
	height: 64px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #eaebf0;
}

.nav-flex {
	display: flex;
	flex-direction: row;
	gap: 8rem;
	align-items: center;
	justify-content: space-between;
}

#Logo {
	height: 40px;
	min-width: 160px;
}

.Header-links {
	display: none;
}

.singUp-logIn {
	display: none;
}

/* Nav End */

/* Header Font */

.Headline_xL-Mobile-Semibold {
	font-size: 36px;
	font-weight: 600;
	line-height: 44px;
	letter-spacing: -0.02em;
	text-align: center;
}

.Headline_gray {
	font-size: 18px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: -0.10000000149011612px;
	text-align: center;
	color: #5f6d7e;
}

/* Hero-Base Start */

.Hero-Base {
	margin-top: 3rem;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 3rem;
}

.Paragraph-container,
.Input-form {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	gap: 2rem;
}

/* Hero-Base End */

.Header-img {
	margin-top: 3rem;
	width: 100%;
}

/* Header End */

/* Utilities */

.text-center {
	text-align: center;
}

.leftToRightHeader {
	margin-top: 32px;
}

.leftToRightHeader h3,
.faqHeader h3 {
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
	letter-spacing: -0.02em;
	color: #272D37;
}

.text-l {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: -0.10000000149011612px;
	color: #5f6d7e;
}

.text-s {
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: -0.10000000149011612px;
	text-align: left;
}

.text-m {
	font-size: 28px;
	font-weight: 600;
	line-height: 36px;
	letter-spacing: -0.02em;
	text-align: left;
}

.bg-white {
	background-color: #fafbfc;
}

.bg-blue {
	background-color: #2b63d9;
}

/* Utilities end */

.leftToRightContent {
	padding: 32px 16px;
}

.leftToRightContentImg {
	padding-bottom: 32px;
}

.leftToRightContentBase span {
	color: #437ef7;
	margin-bottom: 8px;
}

.leftToRightContentBase h2 {
	margin-bottom: 16px;
	font-size: 28px;
	font-weight: 600;
	line-height: 36px;
	letter-spacing: -0.02em;
	text-align: left;
}

.leftToRightContentBase p {
	margin-bottom: 32px;
}

.leftToRightBlue span,
.leftToRightBlue h2 {
	color: #ffffff;
}

.leftToRightBlue p {
	color: #b1ccfb;
}

.imgMobile {
	display: flex;
	margin: auto;
}

.imgPc {
	display: none;
}

.imgTablet {
	display: none;
}

/* blog start */

.latest {
	text-align: center;
	padding: 32px 0;
}

.latest h1 {
	font-family: 'Inter';
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
}

.latest p {
	text-align: center;
	font-family: 'Inter';
}

.card {
	gap: 20px;
	border-radius: 10px;
}

.cards1 {
	display: flex;
	gap: 16px;
	padding: 24px 0;
	align-items: center;
	justify-content: start;
	position: relative;
}

.cards1 img {
	position: absolute;
	right: 10px;
	bottom: 40px;
}

.cards h5 {
	background-color: #f5faff;
	padding: 4px 12px;
	color: #437ef7;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
}

.cards1 p {
	color: #5f6d7e;
	font-family: 'Inter';
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: -0.1px;
}

.cardsHeader1 h1 {
	font-family: 'Inter';
	font-weight: 600;
	font-size: 20px;
}

.cardsHeader p {
	font-family: 'Inter';
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #5f6d7e;
	margin-top: 16px;
}

.cards1 h5 {
	background-color: #f5faff;
	padding: 4px 12px;
	color: #437ef7;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
}

.learn {
	display: flex;
	gap: 6px;
	align-items: center;
	padding: 24px 0;
}

.learn a {
	color: #437ef7;
	text-decoration: none;
	font-family: 'Inter';
	font-weight: 600;
	font-size: 15px;
	line-height: 22px;
}

.cards2 {
	display: flex;
	gap: 16px;
	padding: 24px 0;
	align-items: center;
	justify-content: space-between;
}

.cards2 h5 {
	background-color: #f5faff;
	padding: 4px 12px;
	color: #437ef7;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
}

.cards2 p {
	color: #5f6d7e;
	font-family: 'Inter';
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: -0.1px;
}

.cardsHeader2 h1 {
	font-family: 'Inter';
	font-size: 20px;
	font-weight: 600;
	line-height: 28px;
	margin-bottom: 28px;
}

.cardsHeader2 p {
	width: 279px;
	height: 96px;
	font-family: 'Inter';
	font-weight: 400;
	line-height: 24px;
	color: #5f6d7e;
}

.learn2 {
	display: flex;
	gap: 6px;
	align-items: center;
	padding: 24px 0;
}

.learn2 a {
	color: #437ef7;
	text-decoration: none;
	font-family: 'Inter';
	font-weight: 600;
	font-size: 15px;
	line-height: 22px;
}

.cards3 {
	display: flex;
	gap: 16px;
	padding: 24px 0;
	align-items: center;
	justify-content: space-between;
}

.cards3 h5 {
	background-color: #f5faff;
	padding: 4px 12px;
	color: #437ef7;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
}

.cards3 p {
	color: #5f6d7e;
	font-family: 'Inter';
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: -0.1px;
}

.cardsHeader3 h1 {
	font-family: 'Inter';
	font-size: 20px;
	font-weight: 600;
	line-height: 28px;
	margin-bottom: 28px;
}

.cardsHeader3 p {
	width: 279px;
	height: 96px;
	font-family: 'Inter';
	font-weight: 400;
	line-height: 24px;
	color: #5f6d7e;
}

.learn3 {
	display: flex;
	gap: 6px;
	align-items: center;
	padding: 24px 0;
}

.learn3 a {
	color: #437ef7;
	text-decoration: none;
	font-family: 'Inter';
	font-weight: 600;
	font-size: 15px;
	line-height: 22px;
}

/* blog end */

/*Customer*/
.profile-photos {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
	margin-bottom: 20px;
}

.profile-photos img {
	margin-left: -12px;
	width: 48px;
}

.stars-section {
	margin-top: 50px;
	padding-top: 30px;
	padding-bottom: 50px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.stars {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 40px;
	padding-bottom: 40px;
}
/*Customer End*/

/*Submit*/
.bg-gray {
	background-color: #f8f9fb;
	border-radius: 10px;
	padding: 16px;
}

#email {
	padding: 12px 16px;
	border: 1px solid #dae0e6;
	color: #dae0e6;
	width: 100%;
	border-radius: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}
/*Submit End*/

/*Footer*/
.footer-head {
	padding-inline: 20px;
}

.social-area {
	padding: 40px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 60px;
}

.footer-links {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 30px;
	justify-items: stretch;
	align-items: start;
	justify-content: center;
}

.footer-links a {
	color: black;
	text-decoration: none;
	font-weight: 500;
	color: #5f6d7e;
}

.footer-links [data-header='footer-header'] {
	font-size: 16px;
	line-height: 24px;
	font-weight: 600;
	text-decoration: none;
	color: black;
}

.footer-links li {
	list-style: none;
}

.footer-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer-bottom {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	padding-top: 20px;
}

.footer-bottom img {
	width: 20px;
}
/*Footer End*/
@media (min-width: 704px) {
	/* TABLET AREA  */

	/* Header Start */

	/* Header Font */

	.Headline_xL-Mobile-Semibold {
		font-size: 52px;
		font-weight: 700;
		line-height: 60px;
		letter-spacing: -0.01em;
	}

	/* Hero-Base Start */

	.Hero-Base {
		margin-top: 4rem;
		gap: 4rem;
	}

	.Paragraph-container {
		gap: 3rem;
	}

	.Input-form {
		flex-direction: row;
	}

	/* Hero-Base End */

	.Header-img {
		margin-top: 4rem;
	}

	/* Header End */

	.imgMobile {
		display: none;
	}

	.imgPc {
		display: none;
	}

	.imgTablet {
		display: block;
		margin: auto;
	}

	.review-cards {
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding: 32px 40px;
		gap: 24px;
	}
	/*Review End*/

	.leftToRightContentImg > img {
		width: -webkit-fill-available;
		padding-inline: 20px;
	}

	.card-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-items: center;
	}

	.card {
		max-width: 350px;
	}

	.customers {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
	}
	.stars-section {
		padding: 30px;
		border: none;
		margin: 0;
	}
}

@media (min-width: 1215px) {
	/* DESKTOP AREA */

	.review-cards {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		padding: 70px 80px;
		gap: 32px;
	}
	/*Review End*/

	.card-container {
		display: flex;
		align-items: center;
		gap: 40px;
		justify-content: center;
	}

	.container {
		margin: 0 112.03px;
	}

	/* Header Start */

	/* Nav Start */

	.sidebar {
		display: none;
	}

	.Header-links {
		display: flex;
		flex-direction: row;
		gap: 4rem;
		justify-content: space-between;
		text-decoration: none;
		font-size: 15px;
		font-weight: 600;
		line-height: 22px;
	}

	.Header-links a {
		color: #272d37;
	}

	.downlink {
		display: inline-flex;
		gap: 1.5rem;
	}

	.singUp-logIn {
		display: flex;
		flex-direction: row;
		gap: 3rem;
		justify-content: space-between;
		align-items: center;
		font-size: 15px;
		font-weight: 600;
		line-height: 22px;
	}

	.singUp {
		color: #437ef7;
	}

	/* Nav End */

	/* Hero-Base Start */

	.Hero-Base {
		margin-top: 6rem;
	}

	.Paragraph-container {
		width: 900px;
	}

	/* Hero-Base End */

	/* Header End */

	.imgTablet {
		display: none;
	}

	.imgMobile {
		display: none;
	}

	.imgPc {
		display: block;
		margin: auto;
	}

	.section {
		padding: 64px 0;
	}

	.leftToRightHeader {
		margin: 0 auto;
		width: 800px;
		padding-bottom: 64px;
	}

	.leftToRightContent {
		display: flex;
		align-items: center;
		gap: 140px;
		justify-content: center;
		padding: 32px 16px;
	}

	.leftToRightContentImg {
		padding: 0;
		order: 2;
	}

	.leftToRightContentBase {
		width: 576px;
	}

	.leftToRightContentBase h2 {
		font-weight: 600;
		font-size: 32px;
		line-height: 42px;
		letter-spacing: -0.01em;
	}

	.leftToRightBlue .leftToRightContentBase {
		order: 2;
	}

	.leftToRightLastChild {
		display: none;
	}
}
/*Utility Class*/

.a_container {
	padding: 32px 16px;
	box-sizing: border-box;
	max-width: 1215px;
	margin: 0 auto;
}

.button {
	padding: 12px 18px;
	border: 1px solid #dae0e6;
	font-size: 15px;
	line-height: 22px;
	text-decoration: none;
	color: black;
	border-radius: 6px;
	text-align: center;
}

.button.button-blue {
	border: none;
	background-color: rgba(67, 126, 247, 1);
	color: #fff;
}

/*Review*/

.review-text {
	text-align: center;
}

.review-text p {
	color: rgba(95, 109, 126, 1);
	margin-top: 12px;
	margin-bottom: 12px;
}

.review-card-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.review-card-header img {
	padding: 12px;
	border-radius: 50%;
	background-color: #f5faff;
}

.review-card {
	border: 1px solid #eaebf0;
	box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.04);
	border-radius: 5px;
	padding: 16px;
	margin-bottom: 15px;
}

.review-card-text h4 {
	font-size: 20px;
	line-height: 28px;
}

.review-card-text p {
	color: rgba(95, 109, 126, 1);
	font-size: 16px;
	line-height: 24px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.button-container {
	text-align: center;
	margin-top: 20px;
}

/*Review End*/
